.THIS {
	min-height: 100vh;
   	background-size: 100%;
  	background-image: url(https://lightningtvdomain-dev-ed--c.visualforce.com/resource/1550235714000/BackgroundTV);
  	background-repeat: no-repeat;  	
}
.THIS.leftpart {
	 
}
.THIS.centerpart {  
    
}
.THIS.rightpart {
    
}